h2 {
  @include text-Size-color(3rem, $h2-Color);
}
.text-right {
  text-align: right;
}
.main-content-support {
  grid-template-columns: 1fr !important;
  grid-template-rows: auto;
}
.footer-body-support {
  grid-template-rows: 15rem !important;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.d-flex {
  display: flex;
}
.mb-2 {
  margin-bottom: 2rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.p-3 {
  padding: 3rem;
}
.my-2 {
  margin-top: 2rem;
}
.my-1 {
  margin-top: 1rem;
}
.fs-2 {
  font-size: 2rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.ps-2 {
  padding-right: 2rem;
}

// media quieres <= 992
@include media-down(md-d) {
  .main-content-support {
    .p-3 {
      padding: 2rem;
    }
    h2 {
       font-size: 2.5rem; 
    }
    img{
        width: 430px;
    }
    .mb-4{
        margin-bottom: 3rem;

    }
    .fs-2{
        font-size: 1.5rem;
    }
  }
}
