// ___________font___________
$text-Color: #f5f5f5;
$smallFontWeight: 100;
$mediumFontWeight: 500;
$boldFontWeight: 700;
$primary-color: #ff9c5c;
// ____________HEADER FONT COLOR___________
$h1-Color: coral;
$h2-Color: #ff9719;
$h4-Color: #f5f5f5;
$h5-Color: #ff9e28;
// __________background-Color_________
$bgColor: #1a2f42;
$bgNavColor: #222222;
$bgContentColor: #1e2234;
$sideBar-BgColor: #ff9448;
$hoverTextColor: #dfdfdf;
$navbarBggradient: linear-gradient(to left, #f46b45, #eea849);
$boxShadow: 0 4px 5px 0 #262e4de3;
